
<!-- <app-header ></app-header>
<div class="col-md-12 d-flex flex-column">
<div class="card-body">
    <router-outlet></router-outlet> -->
    <!-- <h1>{{ interval$ | async}}</h1> -->
<!-- </div>
<app-footer class="card-footer"></app-footer>
</div> -->
<div >
    <app-header></app-header>
     <div class="main">
         <div class="content">
               <div>
               <router-outlet></router-outlet>
               </div>
         </div>
     </div>
     <app-footer></app-footer>
</div>